[Unit]
Description=Run maybe-recurrency

[Service]
Type=oneshot
WorkingDirectory=/home/bit/docker/home.bitwilli.com
ExecStart=/usr/bin/make maybe-recurrency
